<p id="notice"><%= notice %></p>

<h1><%= @paper.title %></h1>
<h2><%= @paper.authors.map {|i| link_to i.name, author_path(i) }.join(', ').html_safe %></h2>
<h3><%= Date::MONTHNAMES[@paper.month] if @paper.month %> <%= @paper.year %></h3>

<blockquote>
  <%= simple_format @paper.abstract.squeeze("\n").gsub("\n", "\n\n") %>
</blockquote>

<% if @session_user %>
  <% if @session_user.bookmarked_paper?(@paper) %>
    <%= link_to 'Remove Bookmark', destroy_bookmark_paper_path(@paper), :method => :post %> |
  <% else %>
    <%= link_to 'Bookmark Paper', create_bookmark_paper_path(@paper), :method => :post %> |
  <% end %>
<% end %>
<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Papers', papers_path %>
