<p id="notice"><%= notice %></p>

<h1 class="paper"><%= @paper.title %></h1>
<h2 class="paper">
  <%= @paper.authors.map {|i| content_tag(:nobr, link_to(i.name, author_path(i))) }.join(', ').html_safe %>
</h2>
<h3 class="paper"><%= Date::MONTHNAMES[@paper.month] if @paper.month %> <%= @paper.year %></h3>

<blockquote>
  <%= simple_format @paper.abstract.squeeze("\n").gsub("\n", "\n\n") %>
</blockquote>

<% if @paper.sources.present? %>
  <p>
    Download:
    <% @paper.sources.each_with_index do |source, i| %>
      <% if i > 0 %>|<% end %>
      <%= link_to source.filetype.upcase, source.s3_url %>
    <% end %>
  </p>
<% end %>

<% if @session_user %>
  <% if @session_user.bookmarked_paper?(@paper) %>
    <%= link_to 'Remove Bookmark', destroy_bookmark_paper_path(@paper), :method => :post %> |
  <% else %>
    <%= link_to 'Bookmark Paper', create_bookmark_paper_path(@paper), :method => :post %> |
  <% end %>
<% end %>
<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Papers', papers_path %>
